[submodule "deps/fmt"]
	path = deps/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "deps/ramulator"]
	path = deps/ramulator
	url = https://github.com/shenjiangqiu/ramulator.git
[submodule "deps/spdlog"]
	path = deps/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "deps/minisat_utils"]
	path = deps/minisat_utils
	url = https://github.com/shenjiangqiu/minisat_utils.git
[submodule "deps/DRAMsim3"]
	path = deps/DRAMsim3
	url = https://github.com/shenjiangqiu/DRAMsim3.git
[submodule "deps/DRAMsim3_thermal"]
	path = deps/DRAMsim3_thermal
	url = https://github.com/IronySuzumiya/DRAMsim3.git
