[submodule "deps/ramulator"]
	path = deps/ramulator
	url = https://github.com/shenjiangqiu/ramulator.git
[submodule "deps/minisat_utils"]
	path = deps/minisat_utils
	url = https://github.com/shenjiangqiu/minisat_utils.git
[submodule "deps/DRAMsim3"]
	path = deps/DRAMsim3
	url =https://github.com/shenjiangqiu/DRAMsim3.git
[submodule "deps/cppitertools"]
	path = deps/cppitertools
	url = https://github.com/ryanhaining/cppitertools.git
