build
/cmake-build-debug/
/venv/
/cmake-build-*
run/gcn_sim
run/reddit.graph
*.o
*.rlib
*.lib
*.so

*.graph
src/dense-window-lib/target
vgcore*
*.txt
build-tst
build*
data1
debug
*.dep
*.deppo
*.po
*.so
run/*.graph
run/*.txt
run/*.ini
run/*.json
run/results
*.graph
*.out
*.result
*.ini
*.csv
*.cfg
*.pyc
*.npz
*.zip
*.seqresult
core